<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game</title>
</head>
<body>
    <form action="/madlib">
        <label>
            Name:
        </label>
        <input type="text" name="name">


        <!-- Radio buttons-->
        <label>
            Color:
        </label>
        <input type="radio" name="color" value="marigold">
        <label> Marigold </label>
        <input type="radio" name="color" value="perwinkle">
        <label> Perwinkle </label>
        <input type="radio" name="color" value="red">
        <label> Red </label>
        <input type="radio" name="color" value="rainbow">
        <label> Rainbow </label>

        <!-- Dropdown -->
        <label>
            Noun:
        </label>
        <!-- <label for="noun">Choose a noun:</label> -->
        <select name="noun">
        
            <option value="drumstick"> Drumstick</option>
            <option value="the sea"> The sea</option>
            <option value="pizza maker"> Pizza maker</option>

        </select>
        
        <!-- {% if noun > 1}
            <option>?</option>
            {% for i in values} -->


        <!-- <select name="nounz">
            {% for noun in nouns %}
                <option value="{{ noun }}" SELECTED>{{ noun }}}</option>
            {% endfor %}
        </select> -->

        <!-- Checkboxes -->
        <label>
            Adjective:
        </label>
        <input type="checkbox" name="adjective" value="wicked">
            <label> Wicked </label>
        
        <input type="checkbox" name="adjective" value="smelly">
            <label> Smelly </label>

        <input type="checkbox" name="adjective" value="merry">
            <label> Merry </label>

        <input type="checkbox" name="adjective" value="boney">
            <label> Boney </label>

        <input type="submit">
        
    </form>
</body>
</html>